[menu]

	label = "main"

	[[menu.items]]
		label = "mpd"

		[[menu.items.items]]
		label = "playlists"
		cmd = "playlists"
		kind = "mpd"
			
		[[menu.items.items]]
		label = "mpd restart"
		cmd = "service"
		args = ["mpd", "restart"]
		kind = "cmd"

	[[menu.items]]
		label = "pogoda"

		[[menu.items.items]]
		label = "curr"
		cmd = "get_weather.sh"
		kind = "cmd"

		[[menu.items.items]]
		label = "pred"
		cmd = "temp-pred"
		kind = "cmd"
	
	[[menu.items]]
		label = "info"

		[[menu.items.items]]
		label = "ifconfig"
		cmd = "get_ifaceaddr.sh"
		kind = "cmd"
	
	[[menu.items]]
		label = "power"

		[[menu.items.items]]
		label = "shutdown"
		cmd = "halt"
		kind = "cmd"
		
		[[menu.items.items]]
		label = "reboot"
		cmd = "reboot"
		kind = "cmd"
	
	[[menu.items]]
		label = "other"

		[[menu.items.items]]
		label = "restart rpilcd"
		cmd = "service"
		args = ["rpilcd", "restart"]
		kind = "cmd"

[keys]
	toggle_lcd = "KEY_MODE"

	[keys.menu]
	show = "KEY_OPTION"
	back = "KEY_BACK"
	up = "KEY_VOLUMEUP"
	down = "KEY_VOLUMEDOWN"
	select = "KEY_PLAY"

	[keys.mpd]
	play = "KEY_PLAY"
	stop = "KEY_STOP"
	pause = "KEY_PAUSE"
	next = "KEY_NEXT"
	prev = "KEY_PREVIOUS"
	vol_up = "KEY_VOLUMEUP"
	vol_down = "KEY_VOLUMEDOWN"
	vol_mute = "KEY_MUTE"
